@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  font-family: 'IBM Plex Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login {
  margin: 100px;
}

.login-header {
  margin-top: 100px;
  text-align: center;
  font-size: 75px;
  font-weight: 600;
}

.login-info {
  width: 350px;
  text-align: left;
}

.login-input {
  text-align: center;
}

.login-input-label {
  padding-top: 10px;
  padding-left: 280px;
  text-align: left;
}

.login-buttons {
  text-align: center;
  padding-top: 10px;
}

.back-to-login {
  padding-top: 10px;
  padding-left:280px;
}

.home {
  margin: 0 auto;
}

.home-topbar {
  margin-top: 40px;
}

.home-topbar h1 {
  font-size: 38px;
  font-weight: 600;
  display: inline-block;
}

.home-topbar .createEvent {
  display: inline-block;
  background-color: #4845F0;
  color: white;
  border-radius: 5px;
  padding: 8px 14px 8px 14px;
  font-weight: 500;
  float: right;
}

.eventList {
  margin-top: 40px;
}

.btn {
  padding-left: 50px;
}

.btn-group-2 {
  padding-left: 50px;
}

.event {
  width: 300px;
  padding: 20px;
  box-shadow: 0px 13px 13px rgba(0,0,0,.08),0px 3px 8px rgba(0,0,0,.08);
  border: 1px solid lightgray;
  border-radius: 10px;
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
}

.event .event-bottom {
  margin-top: 100px;
}

.event h2 {
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: 500;
}

.event .createdAt {
  margin: 0;
  color: lightslategray;
}

.event .event-bottom p {
  display: inline-block;
}

.event .event-bottom button {
  display: inline-block;
  float: right;
  margin-left: 8px;
  background-color: #B6EDF3;
  border: none;

}

.logout-button {
  position: absolute;
  button-color: white;
  border: none;
  padding: 0;

  width: 40px;
  height: 16px;
  left: 1312px;
  top: 75px;

  font-family: OpenSans;
  font-size: 12px;
  line-height: 14px;
  text-align: right;

  color: #a3a3a3;
}

.gCal-logo {

  text-align: left;
  font-size: 30px;
  font-weight: 600;
  line-height: 14px;

  position: absolute;
  height: 56px;
  left: 88px;
  top: 60px;


}

.line-Horizontal {
  position: absolute;
  width: 1440px;
  height: 0.5px;
  left: 0px;
  top: 182px;

  background: #B7B7B7;

}

.line-Vertical {
  position: absolute;
  width: 842px;
  height: 0.5px;
  left: -100px;
  bottom: 148px;


  background: #B7B7B7;
  transform: rotate(90deg);
}
/* Calendar view

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;
*/

/* Screenshot 2020-04-08 at 4.14.00 PM

position: absolute;
visibility: hidden;
width: 1440px;
height: 786px;
left: 0px;
top: 0px;

background: url(Image.png);
*/

/* Logout



*/

/* Rectangle

position: absolute;
width: 173px;
height: 56px;
left: 88px;
top: 60px;

background: #D8D8D8;
*/

/* Rectangle

position: absolute;
width: 1440px;
height: 0.5px;
left: 0px;
top: 182px;

background: #B7B7B7;
*/

/* Rectangle
position: absolute;
width: 842px;
height: 0.5px;
left: 333.25px;
top: 182.25px;

background: #B7B7B7;
transform: rotate(90deg);
*/